/*
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    list-style-type: none;
}

.list-item:hover{
    transition : all .25s ease;
}

.link{
    display: "flex";
    padding: 30px;
    text-decoration: none;
}

ul li > a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000;
}
*/




